.Counter {
  display: flex;
  flex-direction: column;
}

.Counter-button {
  background-color: rgb(125, 224, 121);
  border: none;
  padding: 15px 32px 11px;
  font-size: large;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 6px;
  margin-left: 15px;
  border-radius: 100px;
}
