.myChatMessage {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

.name1 {
  color: chocolate;
  font-size: 15px;
  margin: 0 auto;
  margin-right: 25px;
  margin-left: 10px;
}

.message1 {
  color: black;
  margin: 0 auto;
  padding-top: 10px;
  margin-right: 25px;
  margin-left: 10px;
}
