.input {
  width: 74.1%;
  height: 30px;
}

.button {
  background-repeat: no-repeat;
  width: 83px;
  background-position: center;
  height: 50px;
}

.buttonInput {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
