.header {
  background-color: royalblue;
  height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header-link {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}
